@font-face {
  font-family: "Chift";
  src: url("../fonts/ChiftDisplay-Black.otf")format("opentype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Chift";
  src: url("../fonts/ChiftDisplay-Bold.otf")format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Chift";
  src: url("../fonts/ChiftDisplay.otf")format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Chift";
  src: url("../fonts/ChiftDisplay-Light.otf")format("opentype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "dgpro";
  src: url("../fonts/DG_Pro_42-Bold.otf")format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "dgpro";
  src: url("../fonts/DG_Pro_42.otf")format("opentype");
  font-style: normal;
  font-weight: 400;
}