@logo-height: 58px;
@red: #d60447;
@gray: #cdcbcb;

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  //overflow: hidden;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 14px;
  line-height: 1.45em;
  font-family: "Chift", sans-serif;
  font-weight: 400;
}

h1 {
  margin: 0;
  font-weight: 200;
  font-size: 82px;
  line-height: 0.8em;
}

h3 {
  margin: 0;
  font-size: 1.3em;
  margin-bottom: 0.6em;
}

p{
  margin: 0;
}

.giant-text {
  font-size: 8.5em;
  line-height: 0.84em;
  font-weight: 200;
  margin-bottom: 0.32em;
}

.vertical-text {
  font-size: 1.2em;
  span {
    display: block;
    text-align: center;
  }
}

.media-block {
  position: relative;
  display: flex;
  .vertical-text {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 27px;
  }
  .media-block__video,
  .media-block__photo {
    width: 460px;
    height: 285px;
    margin-left: 35px;
    cursor: pointer;
    background: no-repeat;
  }
  .media-block__video {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 150px;
      height: 150px;
      width: 46%;
      height: 75%;
      top: 50%;
      left: 50%;
      margin-top: -75px;
      margin-left: -75px;
      margin-top: -23.5%;
      margin-left: -23.5%;
      background-image: url(../img/ico_play.png);
      background-size: cover;
    }
  }
  .media-block__photo {
    background-size: cover;
  }
}

.description-block {
  position: relative;
  padding-left: 42px;
  max-width: 300px;
  margin-top: 3vh;
  .big-text {
    position: absolute;
    top: 0;
    left: 0;
    color: @gray;
    font-size: 7.2em;
    z-index: -1;
    &.red {
      color: @red;
      transform: rotate(90deg);
    }
  }
  &.small {
    font-size: 0.8em;
    line-height: 1.4em;
    p {
      margin: 0;
    }
  }
}

.red-slider {
  background-color: @red;
  width: 10%;
  min-height: 10px;
  top: 0;
  left: 0;
  position: absolute;
}

.newton-btn {
  display: inline-block;
  border: 4px solid @red;
  padding: 6px 20px;
  cursor: pointer;
  text-decoration: none;
  color: @red;
  font-size: 1.15em;
  &:hover {
    text-decoration: none;
    color: @red;
  }
  &.gray-btn {
    border-color: @gray;
    color: gray;
  }
}

.newton__container {
  width: 100%;
  height: 100%;
  //overflow: hidden;
}

.newton__main {
  width: 100%;
  height: auto;
}

.newton__menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 85px;
  height: 100%;
  z-index: 1000;
  background-color: white;

  .newton__menu-box {
    height: 100%;
    padding: 42px 18px;
  }
}

.newton__logo {
  background-image: url(../img/logo-menu.png);
  background-size: cover;
  width: 100%;
  max-width: 245px;
  height: @logo-height;
  &.logo-white {
    background-image: url(../img/logo.png);
  }
  &.logo-mini {
    background-image: url(../img/logo_mini.png);
    width: 100%;
    height: 30px;
  }
}

.w_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/w_layer.png);
  opacity: 0.549;
}

.newton__header {
  width: 100%;
  height: 68%;
  height: 67.5vh;
  padding-left: 20px;
  position: relative;

  .newton__header-image {
    width: 100%;
    height: 100%;
    background: url(../img/header.png) no-repeat;
    background-size: cover;
  }

  .newton__logo-box {
    @width: 407px;
    //@width: 21vw;
    @height: 145px;
    //@height: 15vh;
    @border-width: 10px;
    position: absolute;
    top: 13vh;
    left: 50%;
    margin-left: -212px;
    border: @border-width solid rgba(255,255,255,0.3);
    width: @width;
    height: @height;

    .newton__logo {
      margin: 0 auto;
      margin-top: (@height - 2*@border-width - @logo-height)/2;
    }
  }

}

.newton__content {
  width: 100%;
  height: auto;
  margin-top: -16vh;
  .newton__item {
    position: relative;
    padding-right: 85px;
    &.title, &.advantages {
      padding-left: 17vw;
    }
    &.title {
      display: flex;
      flex-direction: column;
      .top-part, .bottom-part {
        display: flex;
      }
      .left-part, .right-part {
        flex: 1;

        .left-part {

        }
      }
      h1 {

      }
    }
    &.gallery {
      padding-left: 60px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      &>div {
        width: 33.3%;
      }
      .media-block {
        margin-bottom: 37px;
      }
    }
    &.contacts {
      padding-left: 1%;
    }
    &.about {
      display: flex;
      justify-content: center;
    }
  }
}

.footer-list {
  display: flex;
  .list-item {
    font-size: 1.4em;
    padding: 0 30px;
    &::before {
      content: '—';
    }
    &:first-child {
      //padding-left: 0;
      font-size: 1em;
      &::before {
        display: none;
      }
    }
    &:last-child {
      //padding-right: 0;
    }
  }
}